.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    .edit {
        cursor: pointer;
        color: orange;
    }
    .delete {
        cursor: pointer;
        color: red;
    }
}
