.manage-user-container {
    .user-header {
        .title {
            font-size: 20px;
        }
    }

    .user-body {
        margin-top: 20px;
        overflow: auto;
        width: inherit;

        .action {
            display: flex;
            align-items: center;
            gap: 20px;
            .edit {
                color: orange;
                cursor: pointer;
                &:hover {
                    color: #cc9900;
                }
            }
            .delete {
                color: #cc0000;
                cursor: pointer;
                &:hover {
                    color: #ff0000;
                }
            }
        }
    }
}
