.header-container {
    background-color: #ff6666;
    img {
        animation: App-logo-spin infinite 20s linear;
    }
    .logo-container {
        .title-logo {
            &:hover {
                color: #33c1e1;
            }
        }
    }
    .nav-left {
        .text-email {
            &:hover {
                cursor: pointer;
            }
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
